src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.8/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <http:listener-config name="InboundHTTPRequest" host="localhost" port="8081" doc:name="Inbound HTTP Request"/>

    <http:request-config name="ErrorServer" host="localhost" port="9000" doc:name="HTTP Request Configuration"/>
    <flow name="main">
        <http:listener config-ref="InboundHTTPRequest" path="*" doc:name="Inbound HTTP Request"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/favicon.ico']" doc:name="Expression"/>
        <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.language]" doc:name="Set Language Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.language == 'Spanish']">
                <set-payload value="Hola!" doc:name="Reply in Spanish"/>
            </when>
            <when expression="#[flowVars.language == 'French']">
                <set-payload value="Bonjour!" doc:name="Reply in French"/>
            </when>
            <when expression="#[flowVars.language == 'English']">
                <flow-ref name="SubFlow_English" doc:name="SubFlow_English"/>
            </when>
            <otherwise>
                <flow-ref name="SubFlow_UnknownLanguage" doc:name="SubFlow_UnknownLanguage"/>
            </otherwise>
        </choice>
        <logger message="The reply &quot;#[payload]&quot; means &quot;hello&quot; in #[flowVars.language]." level="INFO" doc:name="Logger"/>
    </flow>

    <sub-flow name="SubFlow_English">
        <set-payload value="Hello!" doc:name="Reply in English"/>
    </sub-flow>

    <sub-flow name="SubFlow_UnknownLanguage">
        <logger message="Unknown Language specified. Using English as default." level="INFO" doc:name="Logger"/>
        <http:request config-ref="ErrorServer" path="/error" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="error" value="Unknown language: #[message.inboundProperties.'http.query.params'.language]"/>
            </http:request-builder>
        </http:request>
        <set-variable variableName="language" value="English" doc:name="Set Language to English"/>
        <flow-ref name="SubFlow_English" doc:name="SubFlow_English"/>
    </sub-flow>

</mule>
